:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}
/* :root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
} */

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

 ul {
    list-style-type: none;
 }

 a {
    text-decoration: none;
 }

 button {
    cursor: pointer;
 }

   
/* --------------------HEADER----------------------- */
 .header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
 }

 .header-accent {
   color: var(--navy-blue);
 }
 
 .header-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    
 }

 .header-address {
    font-style: normal;
 }


.header-nav-link:hover,
.header-nav-link:focus {
    color: #404bbf;
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404bbf;
}


 .header-address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--slate);
    font-style: normal;

 }

 .hero {
    background-color: #2e2f42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    /* color: #d9d9d9; */
    color: #ffffff
}
 
 .hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: var(--white);
    background: var(--iris);
 }
   
 .hero-btn:hover,
 .hero-btn:focus {
    background-color: #404BBF;
 }


 /*------------- FEATURES--------- */
 .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
 }

 .features-item-text {
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--slate);
 }

 /* -----------OUR TEAM------- */
.team {
    background-color: #F4F4FD;
}

.team-item {
    background-color: #FFFFFF;
}

 .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    text-transform: capitalize;
 }

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    
}

.team-item-text {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--slate);
}

/* ------OUR PORTFOLIO------ */
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-transform: capitalize;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--slate);
}

/* -------Footer-------- */
.footer {
    background-color: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.footer-accent{
    color: var(--cloud);
}

.footer-text {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--cloud);
    line-height: 1.5;
    color:#F4F4FD;
}